<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.whoami.voz"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.nna88.voz.main.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".ui.main.MainApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- <activity -->
        <!-- android:name=".PageBookmark" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Bookmark" /> -->
        <!-- <activity -->
        <!-- android:name=".Page2" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="page2" /> -->
        <!-- <activity -->
        <!-- android:name=".Page3New" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Page3" /> -->
        <!-- <activity -->
        <!-- android:name=".Page3" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Page3" /> -->
        <!-- <activity -->
        <!-- android:name=".PageReply" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Reply" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- <activity -->
        <!-- android:name=".PageNewThread" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="NewThread" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- <activity -->
        <!-- android:name=".PageNewPost" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="NewThread" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- <activity -->
        <!-- android:name=".PageSearch" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Search" -->
        <!-- android:windowSoftInputMode="adjustResize" /> -->
        <!-- <activity -->
        <!-- android:name=".PageCP" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="UserCP" /> -->
        <!-- <activity -->
        <!-- android:name=".PageQuote" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Quote" /> -->
        <!-- <activity -->
        <!-- android:name=".PageRecentPost" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Recent Post" /> -->
        <!-- <activity -->
        <!-- android:name=".PageRecentThread" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Recent Thread" /> -->
        <!-- <activity -->
        <!-- android:name=".PagePM" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="PM" /> -->
        <!-- <activity -->
        <!-- android:name=".PagePMDetail" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Recent Post" /> -->
        <!-- <activity -->
        <!-- android:name="com.startapp.android.publish.list3d.List3DActivity" -->
        <!-- android:theme="@android:style/Theme" /> -->
        <!-- <activity -->
        <!-- android:name="com.startapp.android.publish.AppWallActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent" /> -->

        <activity
            android:name=".ui.activity.MainTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.Page1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.IntentHandlerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="vozforums.com"
                    android:scheme="https"/>
                <data
                    android:host="vozforums.com"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.Page2Activity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <activity
            android:name=".ui.activity.Page3Activity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/MyMaterialTheme">
        </activity>
    </application>

</manifest>